.listOfShops {
    .Card {
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .CardMedia {
        padding-top: 56.25%;
        height: 100px;
    }
    .CardContent {
        flex-grow: 1;   
    }
    .Avatar {
        width: 220px;
        height: 150px;
    }
}
