.Footer {

	//  стили для компонента Footer
	//  и дочерних компонентов, при необходимости

	padding-top: 40px;

	.footer {
		background-color: transparent;
		// marginTop: theme.spacing(8),
		padding: spacing(6, 0);
	}
}