.MainTop {
	//  стили для компонента MainTop
	//  и дочерних компонентов, при необходимости

	@include content; // сюда подставляются стили миксина

	width: 1280px;
	padding: 0 24px;


	.MainTop__title{
		font-size: 19px;
	}

	.MainTop__link{
		color: blue;
		text-decoration: underline;

	}
}
